models/alex_diamond.ply filter=lfs diff=lfs merge=lfs -text
models/alex.ply filter=lfs diff=lfs merge=lfs -text
models/allie_margaret.ply filter=lfs diff=lfs merge=lfs -text
models/andie.ply filter=lfs diff=lfs merge=lfs -text
models/anuj_andrew_rob.ply filter=lfs diff=lfs merge=lfs -text
models/anuj_rob.ply filter=lfs diff=lfs merge=lfs -text
models/aria.ply filter=lfs diff=lfs merge=lfs -text
models/austin.ply filter=lfs diff=lfs merge=lfs -text
models/ben.ply filter=lfs diff=lfs merge=lfs -text
models/carina.ply filter=lfs diff=lfs merge=lfs -text
models/carol.ply filter=lfs diff=lfs merge=lfs -text
models/carolyn_2.ply filter=lfs diff=lfs merge=lfs -text
models/carolyn.ply filter=lfs diff=lfs merge=lfs -text
models/chili_2.ply filter=lfs diff=lfs merge=lfs -text
models/chili.ply filter=lfs diff=lfs merge=lfs -text
models/chris.ply filter=lfs diff=lfs merge=lfs -text
models/dad_2.ply filter=lfs diff=lfs merge=lfs -text
models/dad.ply filter=lfs diff=lfs merge=lfs -text
models/daniel_2.ply filter=lfs diff=lfs merge=lfs -text
models/daniel.ply filter=lfs diff=lfs merge=lfs -text
models/dave_james.ply filter=lfs diff=lfs merge=lfs -text
models/diamonds.ply filter=lfs diff=lfs merge=lfs -text
models/dining_room.ply filter=lfs diff=lfs merge=lfs -text
models/emma.ply filter=lfs diff=lfs merge=lfs -text
models/family.ply filter=lfs diff=lfs merge=lfs -text
models/genevieve.ply filter=lfs diff=lfs merge=lfs -text
models/g.ply filter=lfs diff=lfs merge=lfs -text
models/gus.ply filter=lfs diff=lfs merge=lfs -text
models/izzy.ply filter=lfs diff=lfs merge=lfs -text
models/jacqueline.ply filter=lfs diff=lfs merge=lfs -text
models/jake.ply filter=lfs diff=lfs merge=lfs -text
models/jeffrey.ply filter=lfs diff=lfs merge=lfs -text
models/joey_weird.ply filter=lfs diff=lfs merge=lfs -text
models/marcello.ply filter=lfs diff=lfs merge=lfs -text
models/mardi_gras.ply filter=lfs diff=lfs merge=lfs -text
models/mario.ply filter=lfs diff=lfs merge=lfs -text
models/maryam.ply filter=lfs diff=lfs merge=lfs -text
models/matthew_2.ply filter=lfs diff=lfs merge=lfs -text
models/matthew_3.ply filter=lfs diff=lfs merge=lfs -text
models/matthew_4.ply filter=lfs diff=lfs merge=lfs -text
models/matthew_5.ply filter=lfs diff=lfs merge=lfs -text
models/matthew_6.ply filter=lfs diff=lfs merge=lfs -text
models/matthew_7.ply filter=lfs diff=lfs merge=lfs -text
models/matthew.ply filter=lfs diff=lfs merge=lfs -text
models/max_aaron.ply filter=lfs diff=lfs merge=lfs -text
models/michelle.ply filter=lfs diff=lfs merge=lfs -text
models/nibbler.ply filter=lfs diff=lfs merge=lfs -text
models/nick.ply filter=lfs diff=lfs merge=lfs -text
models/nicole.ply filter=lfs diff=lfs merge=lfs -text
models/odette.ply filter=lfs diff=lfs merge=lfs -text
models/pete.ply filter=lfs diff=lfs merge=lfs -text
models/pierre.ply filter=lfs diff=lfs merge=lfs -text
models/selfie.ply filter=lfs diff=lfs merge=lfs -text
models/tara.ply filter=lfs diff=lfs merge=lfs -text
models/test.ply filter=lfs diff=lfs merge=lfs -text
models/truett.ply filter=lfs diff=lfs merge=lfs -text
models/wall.ply filter=lfs diff=lfs merge=lfs -text
models/young.ply filter=lfs diff=lfs merge=lfs -text
models/jacob.ply filter=lfs diff=lfs merge=lfs -text
models/ellyn.ply filter=lfs diff=lfs merge=lfs -text
